# mujweb.cz/index.php > mujweb.cz/
RewriteEngine On

RewriteRule ^index.php$ http://www.farmavrnak.cz/devtest$1 [R=301]
RewriteRule ^maso$ maso.php [L]
RewriteRule ^med$ med.php [L]
RewriteRule ^nas-pribeh$ nas-pribeh.php [L]
RewriteRule ^kontakty$ kontakty.php [L]
RewriteRule ^admin$ admin/index.php [L]



    ExpiresActive On
    ExpiresDefault A600
    ExpiresByType assets A2678400
    ExpiresByType php A2678400



