# mujweb.cz/index.php > mujweb.cz/
RewriteEngine On

RewriteRule ^index.php$ http://www.farmavrnak.cz/devtest$1 [R=301]
RewriteRule ^maso$ maso.php [L]
RewriteRule ^med$ med.php [L]
RewriteRule ^nas-pribeh$ nas-pribeh.php [L]
RewriteRule ^kontakty$ kontakty.php [L]
RewriteRule ^admin$ admin/index.php [L]


<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|ttf|svg)$">
        SetOutputFilter DEFLATE
        Header always set Vary "Accept-Encoding"
    </FilesMatch>
</IfModule>


<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A600
    ExpiresByType text/javascript A2678400
    ExpiresByType application/javascript A2678400
    ExpiresByType text/css A2678400
    ExpiresByType image/gif A2678400
    ExpiresByType image/png A2678400
    ExpiresByType image/jpeg A2678400
    ExpiresByType image/webp A2678400
    ExpiresByType image/svg+xml A604800
    ExpiresByType image/x-icon A604800

    ExpiresByType text/html A1

    # Nezapomenout na fonty...
    
    <FilesMatch "image/kamery_web_[0-9]+\.jpg$">
        ExpiresByType image/jpeg A600
    </FilesMatch>
</IfModule>
