# mujweb.cz/index.php > mujweb.cz/
RewriteEngine On

RewriteRule ^index.php$ http://farmavrnak.cz/$1 [R=301]
RewriteRule ^maso$ maso.php [L]
RewriteRule ^admin$ admin/index.php [L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]