@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Montserrat:wght@100&display=swap');

/*Cookie-lišta*/
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive{
	border-bottom: 1px solid #f2a679;
	color: #f2a679;
}
#CybotCookiebotDialogPoweredbyCybot{
	display: none;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyBottomWrapper{
	display: none;
}


/*Menu*/

:root {
  --nav-bg: #F2E4D8;
}
.fake-logo-menu{
  width: 362px;
  margin-right: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: #F2E4D8;
  box-shadow: var(--nav-shadow);
}

nav .logo {
  color: #fff;
  text-decoration-color: var(--main-clr);
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 100;0px 3px var(--main-clr)
}

nav ul {
  --padding: 20px;
  --font-size: 17px;
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  box-shadow: var(--nav-shadow);
  z-index: 2;
}

nav ul li {
  padding: var(--padding);
  margin-left: 15px;
  margin-right: 15px;
}
nav ul li.active a{
  color: black;
}

nav ul li a {
  font-family: 'Bebas Neue';
  color: #F2A67966;
  opacity: 70%;
  font-size: 1.875rem;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover{
  color: #333333;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2.5px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  color: #333333;
}

.list--item.active a{
	opacity:100% ;

}

nav .menu {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23333'/%3E%3Cpath stroke='%23F8F1EC' stroke-linecap='round' stroke-width='3' d='M10.227 15.954h29.728M10.227 24.682h16.637M10.227 33.409h23.182'/%3E%3C/svg%3E");
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 36px;
  right: 20px;
  z-index: 4;
}


nav .menu.active {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23333'/%3E%3Cpath stroke='%23F8F1EC' stroke-linecap='round' stroke-width='3' d='M12.121 11L36 34.879M11.995 34.936l23.826-23.931'/%3E%3C/svg%3E");
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

/*Switch*/
@media (max-width: 1260px) {

  nav ul li a{
    font-size: 1.5rem;
  }
}

@media (max-width: 1088px) {
  nav .menu {
    display: flex;
  }

  .fake-logo-menu{
    display: none;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: #F2E4D8;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    height: var(--height);
  }

  nav ul.active {
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
    );
    transition: 0.5s ease;
    height: 100vh;
    padding-top: 60px;
    text-align: center;
    z-index: 2;
  }

  nav ul li {
    width: 100%;
    text-align: left;
  }
  nav ul li a {
    width: 100%;
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-left: 39px;
    padding-bottom: 18px;
  }
}


/*Adresa*/
address{
	visibility: hidden;
}

.kontaky-icon .soc{
	padding-top: 0px;
}
.box--soc.kontaky-icon{
	padding-top: 30px;
}
.kontaky-icon .soc--desc p{
	color: black;
}

@media only screen and (max-width: 881px){

.our-story-pics img.update{
	width: unset;
}

#pripravujeme .our-story-pics{
	text-align: center;
}
#pripravujeme .box-h1-prepered{
padding-top: 30px;
}
}


/*Med-overlay*/
.ovelay-med-content-box{
	display: flex;
}
.med-p{
	order: 2;/*Aby se zobrazovla jako 2 ve flexboxu*/
}
.overly-med-img-box img{
	width: 100%;
}
.overly-med-img-box{
	min-width: 45%;
}
.overlay-box article.med-p{
	margin-left: 30px;
	margin-right: 30px;
}
.med-slider-btn{
	z-index: 2;
}
article.med-p .bio-icon-bar{
	width: unset;
	padding-left: unset;
}
.med-button .meat-info-icon{
	margin: unset;
}
.med-button .meat-info-text{
	margin-top: -45px;
   padding-left: 70px;
}
.overlay-box a.med-button{
	background-color: #F2E4D8;
	border-radius: 40px;
	max-width: 190px;
	padding: 10px;
	position: absolute;
	left: 75%;
	bottom: 10%;
}
.overlay-box a.med-button:hover{
	background-color: #F2A679;
}
.overlay-box a.med-button:hover .meat-info-text span{
	color: #F7F0EB;
}

@media only screen and (max-width: 1088px) {
	.ovelay-med-content-box{
		display: block;
	}
	.overlay-box a.med-button{
		position: relative;
		left: 10%;
		height: 60px;
	}
	.overlay-box article.med-p{
		margin-top: 30px;
	}
	.overly-med-img-box img{
		width: 45%;
	}
	.overly-med-img-box{
		text-align: center;
	}
	.med-button .meat-info-text{
		margin-top: -55px;
	}
}
@media only screen and (max-width: 881px){
	.med-button .meat-info-text{
		margin-top: -32px;
	}
}

/*Read-more*/
#more, #more2 {
	display: none;
	font-family: 'Montserrat', sans-serif;
}
.readmoresecond{
	 margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 30px;
}


/*Eco icon*/
.eco-icon-box{
	 max-width: 1680px;
    margin: auto;
    DISPLAY: FLEX;
    margin-bottom: 20px;
    padding-left: 127px;
}

.eco-icon{
	background-repeat: no-repeat;
	width: 66px;
	height: 44px;
}

.eu-bio-logo{
	background-image: url("svg/eu-bio-logo.svg");
}
.cz-bio-logo{
	background-image: url("svg/cz-bio-logo.svg");
	margin-left: 30px;
}

@media only screen and (max-width: 881px){
	.eco-icon-box{
		padding-left: 55px;
		margin-bottom: 10px;
	}
}

.med-product-box .product--icon{
	padding-bottom: 30px;
}



.med-slider-box{
	max-width: 1580px;
	margin: auto;

}

.slide-area-left.med-slider-btn, .slide-area-right.med-slider-btn{
height: 60%;
}

.med-product-box .porduct-desc-h3.maso-desc{
	padding-left: 150px;
}

.CookieDeclaration{
	display: none;
}



.med-slider{
   display: flex;
   overflow-y: hidden;
   overflow-x: scroll;
}
.med-slider::-webkit-scrollbar{
	display: none;
}

.med-box{
	min-width: 436px;
	background-color: white;
	border-radius: 20px;
	margin: 40px;
}

.med-story-pics{
	width: 80%;
	text-align: center;
	padding-top: 36px;
	margin: auto;
}

.med-story-pics img{
	border-radius: 50%;
   max-width: 100%;
}

.med-content{
	width: 80%;
	margin: auto;
	padding-top: 36px;
}
@media only screen and (max-width: 1596px){
	.med-slider-box{
		max-width: 1280px;
	}

}

@media only screen and (max-width: 1280px){
	.med-box{
	min-width: 300px;
	}
	.med-slider-box{
	max-width: 1088px;
	}
}
@media only screen and (max-width: 1088px){
	.med-box{
		min-width:300px;
		margin-top: 80px
	}
}
@media only screen and (max-width: 881px){
	.med-product-box .icon{
		margin: unset;
	}
	.med-product-box .product--icon.first-product{
	padding-top: 30px;
	}

	.med-product-box .product--icon{
		display: flex;
	}

	.med-product-box .porduct-desc-h3.maso-desc{
		padding-left: 30px;
		padding-right: 20px;
	}
	.product--box.med-product-box.second{
		padding-top: 0px;
	}
} 


/*Stránka med*/


.product--box.med-product-box{
    margin-left: 146px;
}

.sber-medu{
	background-image: url("svg/sber-medu.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.ul-icon{
	background-image: url("svg/ul.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.plastve{
	background-image: url("svg/plastve.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.vytaceni-medu{
	background-image: url("svg/vytaceni-medu.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.slevani-medu{
	background-image: url("svg/slevani-medu.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.sklenice-medu{
	background-image: url("svg/sklenice-medu.svg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 881px){
	.product--box.med-product-box{
    margin-left: 0px;
    padding-top: 30px;
	}
	.med-product-box .porduct-desc-h3.maso-desc h3{
		text-align: left;
	}

}


/*slide bar*/
#slide-bar, #slide-bar-med{
	scroll-behavior: smooth;
}
.slide-area-left, .slide-area-right{
	position: absolute;
	height: 360px;
	width: 40px;
}
.slide-area-left{
	left: 0px;
}
.slide-area-right{
	right: 0px;
}
.slide-button{
	background-image: url("svg/Arrow.svg");
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	border: none;
	top: 50%;
   opacity: 80%;
   transform: translateY(-50%);
   -moz-transform: translateY(-50%); 
	-webkit-transform: translateY(-50%); 
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
#slideright, #sliderightMed{
	right: 10px;
   transform: rotate(90deg);
   -moz-transform: rotate(90deg); 
	-webkit-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
#slideright:hover, #sliderightMed:hover{
	opacity: 100%;
	-moz-transform: scale(1.1) rotate(90deg);
	-webkit-transform: scale(1.1) rotate(90deg);
	-o-transform: scale(1.1) rotate(90deg);
	-ms-transform: scale(1.1) rotate(90deg);
	transform: scale(1.1) rotate(90deg);
}
#slideleft, #slideleftMed {
	left: 10px;
   transform: rotate(270deg);
   -moz-transform: rotate(270deg); 
	-webkit-transform: rotate(270deg); 
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
}
#slideleft:hover, #slideleftMed: hover{
	opacity: 100%;
	-moz-transform: scale(1.1) rotate(270deg);
	-webkit-transform: scale(1.1) rotate(270deg);
	-o-transform: scale(1.1) rotate(270deg);
	-ms-transform: scale(1.1) rotate(270deg);
	transform: scale(1.1) rotate(270deg);
}
@media only screen and (max-width: 1280px){
	.slide-area-left, .slide-area-right{
		height: 260px;
	}
	.slide-button{
		width: 35px;
		height: 35px;
	}
}
@media only screen and (max-width: 1088px){
	.slide-area-left, .slide-area-right{
		height: 200px;
	}
	.slide-button{
		width: 30px;
		height: 30px;
	}
}
@media only screen and (max-width: 881px){
	.slide-area-left, .slide-area-right{
		height: 150px;
	}
}

/*meat-info-icon*/
.icon-info-bar{
	display: flex;
	padding-top: 100px;
}
.meat-info-icon-bar .recepty{
	padding-left: 30%;
}
.meat-info-icon-bar{
	min-width: 60%;
	display: flex;
	margin-left: 199px;
	justify-content: start;
}
.meat-info-icon-bar a{
	margin-left: 30px;
}
.meat-info-icon{
	background-repeat: no-repeat;
	width: 56.22px;
	height: 52.28px;
	margin: auto;
}
.meat-info-text{
	margin-top: 7px;
}
.meat-info-text span{
	font-size: 1rem;
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.cash-3{
	background-image: url("svg/cash-3-icon.svg");
}
.cash-2-5{
	background-image: url("svg/cash-2_5-icon.svg");
}
.cash-2{
	background-image: url("svg/cash-2-icon.svg");
}
.cash-1-5{
	background-image: url("svg/cash-1_5-icon.svg");
}
.cash-1{
	background-image: url("svg/cash-1-icon.svg");
}
.cash-0-5{
	background-image: url("svg/cash-0_5-icon.svg");
}
.e-shop-icon{
	background-image: url("svg/Ehop_icon.svg");
}
.recepty-icon{
	background-image: url("svg/Recepty_icon.svg");
}
.slideshow-container.meat img{
	border-radius: 0%;
}
.slideshow-container.meat .our-story-pics{
	width: 100%;
}
@media only screen and (max-width: 1460px) {
	.icon-info-bar{
		padding-top: 0px;
	}
}
@media only screen and (max-width: 1280px) {
		.meat-info-icon-bar.cash-recepts-eshop{
		margin-left: 80px;
	}
}
@media only screen and (max-width: 1088px) {
	.meat-info-icon-bar{
		margin-bottom: 30px;
	}
	.meat-info-icon-bar .recepty{
	padding-left: 0px;
}

}
@media only screen and (max-width: 881px) {
	.meat-info-icon-bar{
		margin-left: 0px;
		width: 100%;
	}
	.meat-info-icon-bar.cash-recepts-eshop{
		margin-left: 0px;
	}
	.icon-info-bar{
		display: block;
	}
	.slideshow-container.meat{
		max-width: 90%;
		margin-top: 0px;
	}
	.meat-info-icon{
		width: 47.15px;
		height: 38.43px;	
	}
	.meat-info-text span{
		font-size: 0.7rem;
	}
	.meat-info-icon-bar a.cash{
	display: block;
	margin-left: 30px;
	padding-left: 40px;

	}	
	.slideshow-container.meat .our-story-pics img{
		height: 100%;
	}
	
}



.maso-layout .layout-description{
	padding-left:  0px;
	width: 100%;
	padding-left: 102px;
	padding-right: 60px;
	margin: unset;
}
.maso-layout-other p{
	color: white;
}
.maso-content{
	width: 100%;
}
.overlay-box-close-back{
	width: 100%;
	height: 100vh;
	z-index: 5;
}
.overlay-active{
	display: block;
}
.overlay-noactive{
	display: none;
}


/*Shortcut navigation*/
.meat-navigation-box{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 40px;
	padding-left: 127px;
}
.meat-navigation-icon{
	width: 30%;
}
.meat-navigation-icon-svg{
	background-repeat: no-repeat;
	width: 101.26px;
	height: 81.74px;
}
.meat-navigation-icon-svg.maso-icon-maso{
	background-image: url("svg/Meat_color.svg");
}
.meat-navigation-icon-svg.droby-icon{
	background-image: url("svg/Droby_icon.svg");
}
.meat-navigation-icon-svg.ostatni-icon{
	background-image: url("svg/Ostatni_icon.svg");
}
.meat-navigation-icon-text{
	padding-left: 110px;
   margin-top: -50px;
}
.meat-navigation-icon-text span{
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color: #333333;
}
.meat-navigation-content{
	padding-top: 15px;
	width: 70%;
}
.meat-navigation-content a{
	color: black;
	text-decoration: none;
	font-style: normal;
}
.meat-navigation-content a:hover{
	color: black;
	text-decoration: underline;
	font-style: normal;
}
@media only screen and (max-width: 1280px) {
	.meat-navigation-icon-svg{
		width:76.23px;
		height:61.54px ;
	}

	.maso-layout .layout-description{
	padding-left: 60px;
	padding-right: 20px;
	}
}
@media only screen and (max-width: 1088px) {
	.meat-navigation-icon{
		width: 100%;
		display: block;
		margin-top: 15px;
		padding-bottom: 15px;
	}
	.meat-navigation-box{
		display: block;
	}
	.meat-navigation-box{
		padding-left: 0px;
	}
}
@media only screen and (max-width: 881px) {
	.maso-layout .layout-description{
	padding-left: 0px;
	padding-right: 0px;
	}
	.meat-navigation-box{
		width: 80%;
	}
	.meat-navigation-icon-svg{
		width: 60.74px;
		height: 49.04px;
		width: 85%;
	}
	.meat-navigation-icon-text{
		padding-left: 70px;
		margin-top: -35px;
	}
	.meat-navigation-content{
		width: 85%;
	}
	.meat-navigation-box{
		margin-bottom: 0px;
	}
}

/*Půlkruh*/
.half-circule{
	background-repeat: no-repeat;
	height: 223px;
	width: 200px;
	position: relative;
	margin-left: 228px;
	top: -1px;
}

.half-circule.dark{
	background-image: url("svg/half-circule-dark.svg");
}
.half-circule.dark-black{
	background-image: url("svg/half-circule-dark-black.svg");
}

.half-circule.light{
	background-image: url("svg/half-circule-light.svg");
}


.half-circule-positon{
	max-width: 1680px;
	width: 100%;
	height: 100px;
	position: absolute;
}

@media only screen and (max-width: 1280px) {
	.half-circule-positon{
		height: 150px;
	}
	.half-circule{
		background-repeat: no-repeat;
		height: 173px;
		width: 150px;
		position: relative;
		margin-left: 223px;
		margin-top: -1px;
	}
	.half-circule{
		margin-left: 70px;
	}
}



/* Defaul value */
.overlay-box a.med-button, #more, .meat-navigation-content a, #sliderightMed,#slideright, #slideleftMed, #slideleft, .meat-navigation-icon-text span, .layout-line, .circule--1680, 	.prev, .next, .icon--hover, .box--soc, #TopScrollBtn, .galery-bar-photo a, .shortcut-icon-svg, .shortcut-text span, g svg, .overlay-close, .overlay-box span{
	transition: 0.3s ease;
}

ul, h2, .h2, p.h2, h3, .soc--desc p, .author > a > p{
	margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;
}

body{
	background: #F2E4D8 ;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	margin: 0px;
}

h1, h2, h3, h4, h5, p, a, span{
	text-decoration: none;
	color: black;
	text-align: left;
	font-family: sans-serif;
	opacity: 100%;
}

/*Specifické fonty*/
h2, .h2{
	font-weight: 400;
	font-size: 6.25rem;
	color: #D9B596;
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	z-index: -1;
	line-height: 7.5rem;
	margin-bottom: 0px;
	opacity: 30%;
	margin-block-start: 0.83em;

}
p.h2{
	opacity: 30%
}

h2.h1{
	opacity: 100%;
	margin-block-start: 0.5em;
}
h1, .h1{
	font-size: 3.625rem;
	color: black;
	font-family: 'Dancing Script', cursive;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: 400;
}
h3{
	color: black;
	font-family: 'Montserrat-bold', sans-serif;
	font-size: 1.5rem;
	font-weight: bolder;
	margin-block-end: 0.1em;
}
p, p a, .soc--desc p, .no-wrap{
	font-size: 1.2rem;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 1000;
}

p a{
	font-style: italic;
	color: #F2A679;
}
.soc--desc p{
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
	font-style: normal;
	font-weight: 700;
	line-height: 34px;
}


/*Max. šířka*/
.defaul-max-wight{
	max-width: 1680px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.section-1box-hp > .defaul-max-wight{
	margin-top: 50px;
}

/*Nedělitené slovo např. e-mail*/
.no-wrap{
	white-space: nowrap;
	color: white;
}

@media only screen and (max-width: 1280px) {
	h3{
		font-size: 1.063rem;
	}
}
@media only screen and (max-width: 1088px) {

	h2, .h2{
		font-size: 3.75rem;
		line-height: 4.5rem;
	}
	h1, .h1{
		font-size: 1.875rem;
	}

	/*Odsazení pro pulktruhy*/
	.half-cir{
		padding-top: 50px;
	}
	.box-h2-title.half-cir{
		padding-top: 60px;
	}
		h2.h1{
		margin-block-start: 0.2em;
	}
}
@media only screen and (max-width: 881px) {

	h2, .h2{
		font-size: 2.5rem;
		margin-block-start: 0em;
	}
	h1, .h1{
		font-size: 1.563rem;
	}
	p{
		font-size: 1rem;
	}
	.soc--desc p{
		font-size: 0.75rem;
	}
}

/*Kontent struktura*/
.content-container{
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
	margin-left: 127px;
	padding: 20px;
}

.content{
	width: 100%;
}
.layout-description{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
}

/*header + logo*/
.logo--cover{
	top: 0;
	position: absolute;
	z-index: 4;
}

.logo{
	width: 240px;
	height: 229px;
	margin: auto;
	text-align: center;
	z-index: 1;

}

.logo-svg-pics{
	background-image: url("svg/Logo_fin.svg");
	background-repeat: no-repeat;
	height: 100%;
}

.logo--svg{
	overflow: hidden;
	object-fit: cover;
	vertical-align: middle;
	margin-top: 15px;
	height: 100%;
	width: 100%;
}

.layout-line{
	width: 100%;
	background: #F7F0EB;
	position: absolute;
	height: 136px;
	margin: auto;
	top: 0;
}

.layout-line.active{
	background: #F2E4D8;
}

.circule--1680{
	margin: auto;
	display: block;
	z-index: 3;
	fill: #F7F0EB;
}

.circule--1680.active{
	fill: #F2E4D8;
}

@media only screen and (max-width: 1088px) {
	.layout-line{
		height: 52px;
	}
	.logo{
		width: 92px;
		height: 84px;
	}
	.logo--svg{
		margin-top: 9px;
	}
	.circule--1680{
		height: 100.5px;
		width: 143px;
	}
}
@media only screen and (max-width: 881px) {
		.layout-line{
			height: 50px;
		}
		.logo{
			width: 86px;
			height: 82px;
		}
		.logo--svg{
			margin-top: 7px;
		}
		.circule--1680{
			height: 96px;
		}
		.content-container{
			padding: 0px;
		}
}





/*slider*/
	* {box-sizing: border-box}

	.mySlides1{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 100%;
		border-radius: 50%;
		width: 396px;
		height: 396px;
		}



	.mySlides1 a img{
		width: 100%;
	}

	/* Slideshow container */

	.slideshow-container {
		max-width: 40%;
		height: 396px;
		position: relative;
		padding: 20px;
		border-radius: 20% 50vh 20% 50vh;
		margin-bottom: 50px;
		margin-top: 120px;
		margin-left: auto;
    margin-right: auto;
	}

	/* Next & previous buttons */
	.prev, .next{
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  padding-top: 10px;
	  background-image: url("svg/Arrow.svg");
	  background-repeat: no-repeat;
	  height: 40px;
	  width: 40px;
	  opacity: 60%;
	  text-align: center;
	}

	/* Position the "next button" to the right */
	.next {
	  	right: 0;
	  	margin-right: -30px;
	  	transform: rotate(90deg);
	  	-moz-transform: rotate(90deg); 
		-webkit-transform: rotate(90deg); 
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);

	}

	.prev{
		margin-left: -50px;
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg); 
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	/* On hover, add a grey background color */
	.next:hover {
	  opacity: 100%;
	 -moz-transform: scale(1.1) rotate(90deg);
	-webkit-transform: scale(1.1) rotate(90deg);
	-o-transform: scale(1.1) rotate(90deg);
	-ms-transform: scale(1.1) rotate(90deg);
	transform: scale(1.1) rotate(90deg);

	}
	.prev:hover{
		  opacity: 100%;
	-moz-transform: scale(1.1) rotate(270deg);
	-webkit-transform: scale(1.1) rotate(270deg);
	-o-transform: scale(1.1) rotate(270deg);
	-ms-transform: scale(1.1) rotate(270deg);
	transform: scale(1.1) rotate(270deg);

	}

	@media only screen and (max-width: 1280px) {
		.prev, .next{
			height: 35px;
	  		width: 35px;
		}
		.next {
		  right: 0;
		  margin-right: 25px;

		}

		.prev{
			margin-left: 5px;
		}

	}

	@media only screen and (max-width: 1088px) {
		.prev, .next{
			height: 30px;
	  		width: 30px;
		}
		.mySlides1{
		    width: 265px;
		    height: 265px;
		}

		.slideshow-container {
	    	height: 265px;
	    	margin-top: 100px;
		}
	}

	@media only screen and (max-width: 881px) {
		.mySlides1{
		    width: 300px;
		    height: 300px;
		}

		.next{
			margin-right: 5px;
		}

		.slideshow-container {
		max-width: 300px;
		height: 300px;
		margin: auto;
		bottom: 51px;
		margin-top: 50px;
		padding: 20px 0px;
		}
	}







	/*body*/

	.box-h2-title{
		position: absolute;
		margin-left: 102px;
	}

	.box-h1-prepered{


	}

	.layout-description{
		width: 65%;
		margin-top: 32px;
	}


	.content-2-box{
		width: 100%;
		background-color: #F8F1EC;
	}

	.content-2-box.dark{
		background-color: #333333;
	}

	.section-1box-hp {
		margin-top: 70px;
	}

	.content{
		width: 50%;
		margin-bottom: 75px;
	}



.content-container.first{
	margin-top: 50px;
}


	@media only screen and (max-width: 1280px) {
		.content{
			width: 60%;
		}
		.layout-description{
			width: 100%;
		}

		.layout-description{
			padding-left: 85px;
		}
		.content-container{
			width: 80%;
		}
		.box-h2-title{
			margin-left: 60px;
		}
		.section-1box-hp {
			margin-top: 130px;
		}
	}

	@media only screen and (max-width: 1088px) {



		.section-1box-hp {
			margin-top: 50px;
		}
		.layout-description{
			padding-left: 55px;
		}

		.box-h2-title {
	    margin-left: 61px;
	    padding-top: 10px;
	}

	.content{
		margin-bottom: 0px;
	}



	}

@media only screen and (max-width: 881px) {

	.defaul-max-wight{
			display: block;
	}

	.section-1box-hp {
			margin-top: 130px;
	}

	.content-container{
		width: 90%;
		margin: auto;

	}

	.content{
			width: 100%;
	}

	.layout-description{
		width: 100%;
		padding-left: 0px;
		margin-top: 0px;
	}
}




	/*produkty*/
	.product--box{
		width: 50%;
		padding-top: 102px;

	}
	.product--icon{
		display: block;
		width: 100%;
		padding-bottom: 100px;
	}

	.porduct-desc-h3
	{
		padding-left: 220px;
		padding-right: 30px;
	}

 .porduct-desc-h3 p{
 	    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
 }

	.icon{

		z-index: 1;
		position: absolute;
		padding-top: 7px;
		padding-left: 19px;
	}
	.maso{
		width: 173.12px;
		height: 139.03px;
	}

	.maso-icon{
		background-image: url("svg/MeatIcon.svg");
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}
	.med-icon{
		background-image: url("svg/HoneyIcon.svg");
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	.med{
		width: 173.87px;
		height: 172.19px;
	}
	.icon-maso-backgroun{
		position: absolute;
		width: 190px;
		height: 190px;

	}
	.icon-med-backgroun{
		position: absolute;
		width: 130px;
		height: 130px;
		margin-left: 44px;
		margin-top: 44px;
	}



	.icon--hover:hover{
		-moz-transform: scale(1.2) rotate(10deg);
		-webkit-transform: scale(1.2) rotate(10deg);
		-o-transform: scale(1.2) rotate(10deg);
		-ms-transform: scale(1.2) rotate(10deg);
		transform: scale(1.2) rotate(10deg);
	}

	@media only screen and (max-width: 1280px) {

	.maso{
		width: 99.77px;
		height: 80.3px;
	}
	.icon-maso-backgroun{
		position: absolute;
		width: 108px;
		height: 108px;
	}

.product--icon{
	padding-bottom: 60px;
}

	.med{
		width: 94.51px;
		height: 93.6px;
	}

	.icon-med-backgroun{
		width:75px;
		height: 75px;
		margin-left: 25px;
		margin-top: 25px;
	}
		.porduct-desc-h3
	{
		padding-left: 120px;
		padding-right: 30px;
	}

	.product--box{
		padding-top: 140px;
		margin-left: 40px;
	}

	}

	@media only screen and (max-width: 1088px) {

		.product--box{
		padding-top: 100px;
		}
	}

	@media only screen and (max-width: 881px) {
		.product--box{
			display: block;
			width: 100%;
			margin: auto;
			padding-top: 0px;
		}

		.product--icon{
			max-width: 100%;
			margin: auto;
			padding-bottom: 36px;
		}

		.porduct-desc-h3{
		padding-left: 0px;
		padding-right: 0px;
		width: 90%;
		margin: auto;


		}

		.porduct-desc-h3.maso-desc{
			margin-top: 15px;
		}

		.icon{
			margin: auto;
			display: block;
			position: relative;
		}

		.maso{
		width: 113.07px;
		height: 91px;
	}

	.med{
		width: 108.6px;
		height: 106.95px;
	}
 .icon-maso-backgroun, .icon-med-backgroun{

 	  osition: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
 }


		.porduct-desc-h3 > h3 {
			text-align: center;
			padding-left: 0px;
		}

	}

	.footer-box{
		background-color: #333333;
		width: 100%;
		bottom: 0px;
		min-height: 5Ovh;

	}

	.footer--desc{
		color: white;
	}

	.box--soc{
		width: 40%;
		padding-top: 83px;
	}


	.author{
		max-width: 1680px;
		margin: auto;


	}
	.author > a > p {
	    color: white;
	    margin-left: 127px;
	    padding-bottom: 1em;
	    font-size: 0.8rem;
	    opacity: 60%;
	}


	.soc{
		display: flex;
		align-items: baseline;
		opacity: 70%;
		padding-top: 44px;
		padding-bottom: 44px;
	}
	.soc:hover{
	opacity: 100%;
	}
	.soc--icon{
		position: absolute;
		width: 37px;
		height: 37px;
	}

	.soc--icon div{
		background-repeat: no-repeat;
  		width: 100%;
  		height: 100%;
	}

  .soc-instagram{
  		background-image: url("svg/IGLogo.svg");
  	}
  .soc-facebook{
  		background-image: url("svg/FBLogo.svg");
  	}

  .soc-email{
  		background-image: url("svg/EmailLogo.svg");
	}
	.soc-phone{
		background-image: url("svg/PhoneIcon.svg");
	}

	.soc--desc{
		position: absolute;
		padding-left: 67px;
	}

	@media only screen and (max-width: 881px) {

	.box--soc{
		width: 100%;
		padding-top:0px
	}
	.soc{
		max-width: 115px;
		margin-left: 55px;
		padding-bottom:64px;
		margin-top: 0px;
		opacity: 100%;
		padding-top: 0px;
	}

	.author{
		padding-bottom: 10px;
		padding-left: 55px;
	}
	.author > a > p {
		margin-left: 0px;
		}

	.footer-box{
		max-height: none;
		min-height: 0vh;
	}


}




/*Scroll-Button*/
#TopScrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 48px;
  height: 48px;
  z-index: 6;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  background-image: url("svg/Arrow.svg");
  background-color: none;
  background-repeat:no-repeat;
  opacity: 80%;
}
button{
	background-color:transparent;
}
#TopScrollBtn:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 100%;
}

/*Galery-bar*/
.galery-bar{
	width: 100%;
	height: 360px;
	display: flex;
}
.galery-bar-positon::-webkit-scrollbar{
	display: none;
}
.galery-bar-positon{
	width: 100%;
	display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.galery-bar-photo a{
	height: 360px;
	display: flex;
}
.galery-bar-photo a:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
@media only screen and (max-width: 1280px) {
	.galery-bar{
		height: 260px;
	}
	.galery-bar-photo a{
	height: 260px;
	}

	.galery-bar-instagram{
		margin-left: ;
		margin-right: ;
	}
}
@media only screen and (max-width: 1088px) {
		.galery-bar{
		height: 200px;
	}
	.galery-bar-photo a{
	height: 200px;
	}
	#TopScrollBtn{
		width: 38px;
		height: 38px;
	}
}
@media only screen and (max-width: 881px) {
		.galery-bar{
		height: 150px;
	}
	.galery-bar-photo a{
	height: 150px;
	}
}

/*Bio-icon*/
.bio-icon-bar{
	width: 65%;
	height: 60px;
	margin: auto;
	padding-left: 127px;
	display: flex;
}
.bio-icon{
	display: flex;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
}
.bio-icon.cow-icon{
	background-image: url("svg/CowFree.svg");
	display: flex;
	margin-right: 30px;
}
.bio-icon.green-icon{
	background-image: url("svg/BioIcon.svg");
	display: flex;
	margin-right: 30px;
}
.bio-icon.meat-icon{
	background-image: url("svg/Meat_color.svg");
	display: flex;
	margin-right: 30px;
}
.bio-icon.info-med-icon{
	background-image: url("svg/info-med-icon.svg");
	display: flex;
	margin-right: 30px;
}
.bio-icon.info-vcela-icon{
	background-image: url("svg/info-vcela-icon.svg");
	display: flex;
	margin-right: 30px;
	width: 80px;
}
@media only screen and (max-width: 881px) {
 .bio-icon-bar{
 			margin-bottom: 50px;
 			padding-left: 0px;
 			width: 90%;
 }
 .bio-icon{
 		margin: auto;
 		display: block;
 }

 .bio-icon.cow{
		display: block;
		margin: auto;
		margin-left: 20px;
	}
	.bio-icon.green{
		display: block;
		margin: auto;
	}
	.bio-icon.meat{
		display: block;
		margin: auto;
	}
}

/*Our story*/
.our-story-1pics{
	  width: 396px;
    height: 396px
}
.our-story-pics{
	width: 330px;
	height: 330px;
}
.our-story-1pics img, .our-story-pics img{
	border-radius: 50%;
	width: 100%;
}
@media only screen and (max-width: 1280px) {
	.our-story-1pics{
	  width: 300px;
    height: 300px
	}

	.our-story-pics{
		width: 300px;
		height: 300px;

	}
}

/*Shortcut*/
.shortcut-box{
	 width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-left: 127px;
}
.shortcut-icon{
	display: block;
	position: relative;
}
.shortcut-icon-svg{
	width: 107px;
	height: 85px;
	background-repeat: no-repeat;
}
.shortcut-text{
   padding-left: 110px;
   padding-right: 30px;
   margin-top: -50px;
}
.shortcut-text span{
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color: #333333;
}
.shortcut-icon:hover span{
	color: #F2A679;
}
.shortcut-icon:hover .shortcut-icon-svg{
	-moz-transform: scale(1.2) rotate(10deg);
	-webkit-transform: scale(1.2) rotate(10deg);
	-o-transform: scale(1.2) rotate(10deg);
	-ms-transform: scale(1.2) rotate(10deg);
	transform: scale(1.2) rotate(10deg);
}
@media only screen and (max-width: 1280px) {
	.shortcut-text{
		padding-left: 0px;
    margin-top: 10px;
    padding-right: 0px;
    text-align: center;
	}
	.shortcut-box{
		margin-left: 0px;
	}
}
@media only screen and (max-width: 1088px) {
	.shortcut-icon-svg{
		width: 85.01px;
		height: 67.32px;
	}
	.shortcut-text span{
		font-size: 0.875rem;
	}
}
@media only screen and (max-width: 881px) {
	.shortcut-box{
		margin-top: 40px;
	}

	.shortcut-icon{
		margin: 15px;
	}
}
/*Shortcut-icon*/
.minutky{
	background-image: url("svg/Minutky_color_icon.svg");
}
.peceni{
	background-image: url("svg/Peceni_color_icon.svg");
}
.duseni{
	background-image: url("svg/Duseni_color_icon.svg");
}
.mleti{
	background-image: url("svg/Hamburger_color_icon.svg");
}
.tatarak{
	background-image: url("svg/Tatarak_color_icon.svg");
}

/*Cow*/
.cow{
	padding-top: 100px;
	width: 90%;
	margin: auto;
}
.cow-svg{
	height: 100%;
	margin: auto;
}
g svg{
	fill: #F5D2BD;
}
g svg.light{
	fill: #F6E4D9;
}
.svg-text{
	fill: #333;
	opacity: 100%;
	z-index: 2;
}
g svg:hover{
	fill: #F2A679;
	z-index: 5;
	-moz-transform: scale(0.9);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(0.9);
	opacity: 100%;
}
g svg:hover .svg-text{
	fill: white;
}
g svg.light:hover .svg-text{
	color: white;
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1088px) {
	.cow{
		padding-top: 50px;
		width: 95%;
		margin: auto;
		padding-left: 0px;
	}
}
@media only screen and (max-width: 881px) {
	.cow{
		padding-top: 15px;
	}
}

/*Overlay*/

.overlay-box{
	width: 70%;
	margin: auto;
	padding-bottom: 40px;
	background-color: #F7F0EB;
	opacity: 100%;
	z-index: 8;
	-webkit-box-shadow: 0px 0px 21px 12px rgba(0,0,0,0.27); 
	box-shadow: 0px 0px 21px 12px rgba(0,0,0,0.27);
  	border-radius: 25px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;


	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);

}
.overlay-box-close{
	height: 92px;
	width: 100%;
	z-index: 9;
}
.overlay-box-content{
    display: flex;
}
.overlay-close{
	display: block;
	position: relative;
	left: 42px;
	top: 44px;
	width: 48px;
	height: 48px;
	background-image: url("svg/close_menu.svg");
	background-repeat: no-repeat;
}
.overlay-close:hover{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.overlay-box .box-h1-prepered{
	margin-left: 120px;
}
.overlay-box h2{
	    color: #333333;
}
.overlay-box article{
	margin-top: 20px;
	margin-left: 222px;
}
.overlay-box a{
	position: relative;
	display: block;
}
.overlay-box span{
	font-size: 1.5rem;
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	line-height: 50px;
}
.overlay-box span:hover{
	color: #F2A67966;
}
#minutky, #peceni, #duseni, #mleti, #tatarak, #med-kvetovy, #med-kvetovy-pastovany, #med-panensky, #med-s-privlastkem, #med-medovicovy, #med-smiseny{
	position: fixed; /* Sit on top of the page content */
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: 100%;
  	transition: visibility 0s, opacity 0.5s linear;
  	height: 100%;
	background-color: #333333bf; /* Black background with opacity */
 	z-index: 6; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
}

@media only screen and (max-width: 1520px){
	.overlay-box .box-h2-title{
		margin-left: 60px;
	}
	.overlay-box article{
		margin-left: 180px;
	}
}

@media only screen and (max-width: 1280px) {
	.overlay-box .box-h1-prepered{
		margin-left: 80px;
	}
	.overlay-box article{
		margin-left: 80px;
	}
	.overlay-box{
		width: 90%;
	}
	.overlay-box article{
		margin-left: 140px;
	}
}
@media only screen and (max-width: 1088px) {
	.overlay-box{
		width: 95%;
		border: none;
		margin-top: 0px;
		height: 98vh;
	}


	.overlay-box article{
		margin-top: 0px;
	}
}
@media only screen and (max-width: 881px) {
		.overlay-box-content{
    	display: block;
	}

	.overlay-box a.overlay-close{
	display: block;
	position: absolute;
	left: unset;
	top: 36px;
	right: 20px;
	z-index: 9;
	}
	.overlay-box-close{
		height: 44px;
		width: 100%;
		z-index: 8;
	}
	.overlay-box .box-h1-prepered{
		margin-left: 30px;
	}
		.overlay-box .box-h2-title{
		margin-left: 40px;
	}
	.overlay-box article{
		margin-left: 70px;
	}
	.overlay-box span{
		font-size: 1rem;
		line-height: 30px;
	}
}

